*{
    box-sizing: inherit;
}

:root {
    --white-color:#fff;
    --text-color:#9a9a9a;
    --title-color:#555555;
    --background-color:rgba(0, 0 ,0 ,0.12);
    --header-height:100px;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
   
    box-sizing: border-box;
}


/* button */
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    height: var(--height);
    border-radius: 20px;
    border: none;
    text-decoration: none;
    text-align: center;
    height:36px ;
    background-color: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}
.btn-small {
    padding: 10px 12px;
    font-size: 1.3rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    height: var(--height);
    border-radius: 20px;
    border: none;
    text-decoration: none;
    text-align: center;
    --height:36px ;
    line-height: var(--height);
    cursor: pointer;
    -webkit-appearance: none;
  -moz-appearance: none;
   appearance: none;
}

.btn-large {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 92px;
    height: var(--height);
    border-radius: 20px;
    border: none;
    text-decoration: none;
    text-align: center;
    --height:44px ;
    line-height: var(--height);
    cursor: pointer;
    -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
}
/* input */
.input {
    height: 45px;
    min-width:255px;
    outline: none;
    border-radius: 20px;
    border: none;
}
/*  subnav HEADER */
.subnav__lable-btn {
    text-decoration: none;
    border: none;
    margin-right: 30px;
    color: #fff;
    padding: 0px 4px 0px 5px;
    border-radius: 2px;
    font-size: 0.9rem;
    letter-spacing: 1.9px;
}

.subnav__lable-btn--HOT {
    background-color: #f76570;

}

.subnav__lable-btn--BEST {
    background-color: #14b9d5;
}   

.subnav__lable-btn--NEW {
    background-color: #1bbc9b;
}


/* page */

.page__title {
    text-align: center;
}

.page__sub-heading {
color: #9a9a9a;
text-align: center;
font-size: 1.4rem;
line-height: 1.4rem;
letter-spacing: 2px;
font-weight: normal;
margin: 46px 0 27px 0;
}

.page__heading {
position: relative;
font-size: 3.6rem;
color: #555555;
font-weight: bold;
margin-bottom: 50px;

}

