/* PC */
@media (min-width:64em){
    .hide-on-pc {
        display: none;
    }

    input:checked ~ .select-navigation {
    
        opacity: 1;
        display: block;
        right: 0%;   
    }
}   
/*mobie va tablet va tablet pro*/ 
@media  (max-width:63.9375em) { 
    

    
    .hide-on-mobie-tablet {
        display: none;
    }
    .close-icon {
        z-index: 1;
    }
    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(85, 85, 85,1);
        min-height: calc(var(--header-height) - 40px);
        z-index: 5;
    }
    
        .header__container {
            flex-direction: column;
        }   
    
        .menu-list-navbar {
            margin-left: unset;
        }
      
        .navbar {
            position: fixed;
            top:0;
            bottom: 0;
            margin: 0;
            background-color: rgba(85, 85, 85,1);
            overflow: auto;
            --width: 300px;
            right: calc(var(--width) * -1 );
            width: var(--width);
            opacity: 0.5;
            -webkit-transition: all linear 0.3s;
        }
    
        input:checked ~ .navbar { 
            opacity: 1;
            right: 0%;        
        }
    
        .navbar-btn {
            background-color: rgba(85, 85, 85,1);
            justify-content: left;
            padding: 30px 0 80px 24px;
            font-size: 2.4rem;
        }
        .navbar-list {
            display: block;
            overflow: auto;
            padding: 26px 0 0 0;
            width: 100%;
        }
    
        .navbar-link {
            font-size: 2.4rem;
            font-weight: 700;
            padding-left: 20px;
        }
    
        .subnav,
        .subnav-item__subnav{
            display: block;
            background-color: rgba(85, 85, 85,1);
            box-shadow: unset;
            position: unset;
            margin-left: 35px;
        }
    
        .subnav-link {
            color: #e6e3e3;
            font-size: 1.8rem;
            text-transform: uppercase;
        }
    
        .angle-right-icon,
        .subnav__lable-btn {
            display: none;
        }
    
        .subnav-item,
        .subnav-item__subnav-item {
            border: none;
            display: block;
        }
    
        .slider {
            margin-top: calc(var(--header-height) - 40px);
            padding-top: 180%;
        }
        
        .slider__title::after {
          display: none;
        }

        .slider__overlay {
            background-color: rgb(178 131 139 / 23%);
        }
    
        .slider-container {
            bottom: 22%;
        }
    
        .destination {
            height: 500px;
        }
    
        .slider__input {
            width: calc(100vw - 60px );
        }
    
        .slider__nav {
            flex-direction: column;
            width: 80%;
        }
        .slider__nav-item {
            margin: 10px 0;
            width: 100%;
            -webkit-tap-highlight-color: transparent;
        }

        .page1__heading::after {
           display: none;
        }

        .content__page2 {
            height: 310px;
            flex-direction: column;
            justify-content: space-evenly;
        }
    
        .page2__text {
            width: 100%;
            margin-right: calc(100% - 54px);
        }
    
        .page3__content-1 {
            margin-bottom: 30px;
        }
    
        .count-down {
            width: 100%;
        }
    
        .page3__content-2 {
            margin: 0;
        }
    
        .page3-footer {
           
            margin: 100px 0 50px 0;
        }
    
        .page3__footer {
            margin: 20px 0;
        }
    
        .discovery {
            padding: 50px 0;
        }
    
        .page5-container {
            margin-bottom: 20px;
        }
        .page3__text-2::after {
            display: none;
        }
        .page5__heading::after {
            display: none;
        }
        .footer  {
            padding-top: 180%;
            min
        }
    
        .footer-page1 {
            flex-direction: column;
            justify-content : space-evenly;
            margin-left :  calc((100% - 644px) /2 );
            margin-right :  calc((100% - 644px) /2 );
        }
    
        .footer-page1-btn {
            margin-left: 0;
        }
    
        .footer-input-form {
            flex:1 ;
            margin-top: 40px;
        }
    
        .footer-page1__input-email {
            width: 100%;
        }
    
        .footer__page2-2 {
            flex-direction: column;
        }
}   

/* tablet */
@media (min-width:46.25em) and (max-width:63.9375em) {
    

   .hide-on-tablet {
       display: none;
   }
   
   .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(85, 85, 85,1);
    height: calc(var(--header-height) + 25px);
}

    .header__container {
        flex-direction: column;
    }   

    .menu-list-navbar {
        margin-left: unset;
    }

   
    .navbar {
        position: fixed;
        top:0;
        bottom: 0;
        margin: 0;
        background-color: rgba(85, 85, 85,1);
        overflow: auto;
        --width: 300px;
        right: calc(var(--width) * -1 );
        width: var(--width);
        opacity: 0.5;
        -webkit-transition: all linear 0.3s;
    }

    input:checked ~ .navbar { 
        opacity: 1;
        right: 0%;        
    }

    .navbar-btn {
        background-color: rgba(85, 85, 85,1);
        justify-content: left;
        padding: 30px 0 80px 24px;
        font-size: 2.4rem;
    }
    .navbar-list {
        display: block;
        overflow: auto;
        margin: 26px 0 0 0;
        width: 100%;
    }

    .navbar-link {
        font-size: 2.4rem;
        font-weight: 700;
        padding-left: 20px;
    }

    .subnav,
    .subnav-item__subnav{
        display: block;
        background-color: rgba(85, 85, 85,1);
        box-shadow: unset;
        position: unset;
        margin-left: 35px;
    }

    .subnav-link {
        color: #e6e3e3;
        font-size: 1.8rem;
        text-transform: uppercase;
    }

    .angle-right-icon,
    .subnav__lable-btn {
        display: none;
    }

    .subnav-item,
    .subnav-item__subnav-item {
        border: none;
        display: block;
    }

    .slider {
        margin-top: var(--header-height);
        padding-top: 180%;
    }

    .slider__overlay {
        background-color: rgb(178 131 139 / 23%);
    }

    .slider-container {
        bottom: 22%;
    }

    .destination {
        height: 500px;
    }

    .slider__input {
        width: calc(100vw - 60px );
    }

    .slider__nav {
        flex-direction: column;
        width: 80%;
    }
    .slider__nav-item {
        margin: 10px 0;
        width: 100%;
        -webkit-tap-highlight-color: transparent;
    }

    .content__page2 {
        height: 310px;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .page2__text {
        width: 100%;
        margin-right: calc(100% - 54px);
    }

    .page3__content-1 {
        margin-bottom: 30px;
    }

    .count-down {
        width: 100%;
    }

    .page3__content-2 {
        margin: 0;
    }

    .page3-footer {
       
        margin: 100px 0 50px 0;
    }

    .page3__footer {
        margin: 20px 0;
    }

    .discovery {
        padding: 50px 0;
    }

    .page5-container {
        margin-bottom: 20px;
    }

    .footer  {
        padding-top: 180%;
       
    }

    .footer-page1 {
        flex-direction: column;
        justify-content: space-evenly;
        margin-left:  calc((100% - 644px) /2 );
        margin-right:  calc((100% - 644px) /2 );
    }

    .footer-page1-btn {
        margin-left: 0;
    }

    .footer-input-form {
        flex:1 ;
        margin-top: 40px;
    }

    .footer-page1__input-email {
        width: 100%;
    }

    .footer__page2-2 {
        flex-direction: column;
    }

    
}


/* mobie */
@media (max-width:46.1875em){ 
    
    .hide-on-mobie {
        display: none;
    }
    .menu-list-navbar__icon {
        margin-left: auto;
    }
    .header__container {
        padding: 0 50px;
        flex-direction: row;
     }
    .slider {
       
        padding-top: 350%;
    }

    .slider__title {
        line-height: 5rem;
        padding: 0 72px;
    }

    p.slider__sub-title {
        padding: 0 15px;
        line-height: 2.3rem;
    }

    .destination {
        height: 400px;
    }

    .page__heading {
        padding: 0 20px;
        line-height: 3.6rem;
    }

    .content__page2 {
        height: 400px;
        align-items: baseline;
        justify-content: center;
    }

    .page2__text {
        margin-bottom: 30px;
    }

    .page2-btn {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .page2__btn {
        margin-left: 0;
        display: flex;
        justify-content: center;
    }

    .page2__text span {
        padding: 0px 58px;
        line-height: 4.4rem;
        margin-left: 0;
        margin-bottom: 0;
    }

    .text-2::after {
        display: none;
    }

    .content__page3  {
        margin: 75px 12px 0;
    }
    .page3__text-2 {
        font-size: 3.2rem;
    }
    .page3__btn  {
      
       line-height: 4rem;
       font-size: 1.4rem;
    }

    .footer {
        min-height: 1700px;
    }
    .footer-page1 {
        margin-left:  0 ;
        margin-right:  0 ;
    }

    .footer-input-form {
        width: 100%;
    }
    .footer-page1__text {
        margin: auto;
    }
    .footer-page1-btn {
        flex-direction: column;
        margin: auto;
        padding: 0 50px;
        width: 100%;
    }

    .footer-page1-btn__btn {
        width: 100%;
    }
   
}